$primaryLighterColor:#DCEDC8;
$primaryColor:#8BC34A;
$primaryDarkerColor:#689F38;
$primaryDarkestColor:#558B2F;
$primaryColorText:#ffffff;

$accentColor:#FFEB3B;
$accentDarkerColor:#FBC02D;
$accentColorText:#000000;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryColorText;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryColorText;
$clickableContainerHeaderIconColor:$primaryColorText;

$clickableContainerHeaderHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderHoverTextColor:$primaryColorText;
$clickableContainerHeaderHoverIconColor:$primaryColorText;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';