$primaryLighterColor:#C5CAE9;
$primaryColor:#3F51B5;
$primaryDarkerColor:#303F9F;
$primaryDarkestColor:#283593;
$primaryColorText:#ffffff;

$accentColor:$primaryColor;
$accentDarkerColor:$primaryDarkerColor;
$accentColorText:$primaryColorText;

$containerHeaderBgColor:#212121;
$containerHeaderBorder:1px solid #212121;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#BDBDBD;
$containerHeaderIconHoverColor:#ffffff;

$clickableContainerHeaderBgColor:#212121;
$clickableContainerHeaderBorder:1px solid #212121;
$clickableContainerHeaderTextColor:#ffffff;
$clickableContainerHeaderIconColor:#BDBDBD;

$clickableContainerHeaderHoverBgColor:#373737;
$clickableContainerHeaderHoverBorder:1px solid #373737;
$clickableContainerHeaderHoverTextColor:#ffffff;
$clickableContainerHeaderHoverIconColor:#BDBDBD;

$clickableContainerHeaderActiveBgColor:$primaryColor;
$clickableContainerHeaderActiveBorder:1px solid $primaryColor;
$clickableContainerHeaderActiveTextColor:$primaryColorText;
$clickableContainerHeaderActiveIconColor:$primaryColorText;

$clickableContainerHeaderActiveHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderActiveHoverTextColor:$primaryColorText;
$clickableContainerHeaderActiveHoverIconColor:$primaryColorText;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';