/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Νοε 2018, 12:48:03 μμ
    Author     : user
*/
.erp-login-header {    
    color: black;
    font-weight: bold;
    font-size: 150%;
    font-family: Tahoma, Arial, Verdana !important;
    /*font-family: Verdana,Arial,Helvetica,sans-serif;*/
}

.erp-login-subheader {    
    font-family: Tahoma, Arial, Verdana !important;
    font-size: 12px !important;
}

.erp-login-msg {
    position: relative;
    width: 400px
}

.erp-error-msg {
    position: relative;
    width: 500px;
}

.erp-topmenu-user {
    color:white;
    font-size: 11px; 
    font-style: italic; 
    text-shadow: -2px 4px 7px black;    
    margin-top: 6px !important; 
    margin-right: -15px !important;
}
.erp-panel-titlebar {
    border: 1px solid #628292;
    background-color: #628292;
    color: #ffffff;
    padding: 8px 14px;
    font-weight: 700;
}
.erp-display-block {
    display: block;
}