/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Νοε 2018, 12:48:03 μμ
    Author     : user
*/

    .erp-login-msg {
      position: relative;
      width: 400px
    }