$primaryLighterColor:#E1BEE7;
$primaryColor:#9C27B0;
$primaryDarkerColor:#7B1FA2;
$primaryDarkestColor:#6A1B9A;
$primaryColorText:#ffffff;

$accentColor:#009688;
$accentDarkerColor:#00796B;
$accentColorText:#ffffff;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryColorText;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryColorText;
$clickableContainerHeaderIconColor:$primaryColorText;

$clickableContainerHeaderHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderHoverTextColor:$primaryColorText;
$clickableContainerHeaderHoverIconColor:$primaryColorText;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';