<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="erp" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <!--<jta-data-source>jdbc/OracleHomeXE</jta-data-source>-->
        <jta-data-source>jdbc/OracleXE</jta-data-source>
        <class>erp.entities.Action</class>
        <class>erp.entities.Actionscategory</class>
        <class>erp.entities.Address</class>
        <class>erp.entities.Auditing</class>
        <class>erp.entities.Company</class>
        <class>erp.entities.Companysector</class>
        <class>erp.entities.Department</class>
        <class>erp.entities.Departmenttype</class>
        <class>erp.entities.Equipment</class>
        <class>erp.entities.Equipmentcategory</class>
        <class>erp.entities.Equipmentdepartment</class>
        <class>erp.entities.Equipmenttype</class>
        <class>erp.entities.Role</class>
        <class>erp.entities.Sector</class>
        <class>erp.entities.Sectordepartment</class>
        <class>erp.entities.Staff</class>
        <class>erp.entities.Userrole</class>
        <class>erp.entities.Usr</class>
        <class>erp.entities.Companytask</class>
        <class>erp.entities.Emprank</class>
        <class>erp.entities.Loggerdata</class>
        <class>erp.entities.Scheduletask</class>
        <class>erp.entities.Scheduletaskdetail</class>
        <class>erp.entities.Workshift</class>
        <class>erp.entities.Attendance</class>
        <class>erp.entities.Taskstatus</class>
            
        <shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>
        <properties>
            <property name="eclipselink.jdbc.native-sql" value="true"/>
            <property name="eclipselink.target-database" value="Oracle"/>
            <!--<property name="eclipselink.sessions-xml" value="mysession.xml"/> 
            <property name="eclipselink.allow-zero-id" value="true"/>-->
            <property name="eclipselink.logging.level" value="OFF"/>
            <property name="eclipselink.logging.level.sql" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
            <!--<property name="eclipselink.logging.level.cache" value="FINE"/>-->
        </properties>
    </persistence-unit>
</persistence>
